<% layout('partials/_layout') -%>
<h1><%= artist.name %></h1>
<p>Genre: <%= artist.genre %></p>
<p>Language: <%= artist.language %></p>
<p>Nationality: <%= artist.nationality %></p>
<p>Bio: <%= artist.bio %></p>
<p>Members: <%= artist.members %></p>
<a href="<%= artist.wikipedia %>">Wikipedia Link</a>
<a href="edit">Edit this Artist</a>
<a href="/">Back to Index</a>
